body{
    background-color: #efefef;
    font-family: verdana;
}
.top {
	background-color: #232323;
    text-align: center;
    padding: 54px;
    
}

h1.top {
    color: #ffffff;
}

p.top {
    color: #ffffff;
}

.header {
    font-size: 18px;
    background-color: #454545;
    width: 60%;
    margin: auto;
    padding: 18px;
    text-align: center;
}
