body{
	background-image: url(/src/images/backgroundtileNOCOPYRIGHT.png);
    background-repeat: repeat;
    font-family: verdana;
    text-align: center;
}

.center{
    margin: auto;
    width: 60%;
    border: 3px black;
    padding: 10px;
}

p{
    font-size: 18px;
    background-color: lightcoral;
    width: 60%;
    border-right: 3px solid darkgoldenrod;
    border-bottom: 3px solid darkgoldenrod;
    border-left: 3px solid darkgoldenrod;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

h1{
    background-color: royalblue;
    width: 60%;
    border: 3px solid darkgoldenrod;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-color: royalblue;
}