body{
	background-image: url(/src/images/backgroundtileNOCOPYRIGHT.png);
    background-repeat: repeat;
    font-family: verdana;
}

.center{
    margin: auto;
    width: 60%;
}

p.links{
    font-size: 18px;
    background-color: lightgrey;
    width: 60%;
    margin: auto;
    padding: 10px;
    text-align: center;

    border: 3px solid lightseagreen;
}

p{
    font-size: 18px;
    background-color: lightgrey;
    width: 60%;
    margin: auto;
    padding: 10px;

    border: 3px solid lightseagreen; 
}

h1.header{
    font-size: 24px;
    background-color: lightgrey;
    width: 60%;
    text-align: center;
    margin: auto;

    padding: 10px;
    text-decoration: none;

    border: 3px solid lightseagreen;
}

a.nounderline:link{
    color: black;
    background-color: lightblue;
    border-radius: 15px;
    text-decoration: none;
    padding: 5px;
    border: 3px solid lightseagreen;
}

a.nounderline:visited{
    color: black;
    background-color: lightblue;
    border-radius: 15px;
    text-decoration: none;
    padding: 5px;
    border: 3px solid lightseagreen;
}

a.nounderline:hover{
    color: black;
    background-color: lightblue;
    border-radius: 15px;
    text-decoration: none;
    padding: 2px;
    border: 3px solid lightseagreen;
}